<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{page_layout/layout}">

<head>
	<title>Requests</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<section layout:fragment="content">
		<h1 class="title">Requests</h1>
		<table class="fsp-table fsp-table-striped">

			<thead>
				<tr>
					<th scope="col">Request ID</th>
					<th scope="col">CSUN ID</th>
					<th scope="col">Course</th>
					<th scope="col">Status</th>
					<th scope="col">Preference</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="request: ${requests}">
					<td th:text="${request.getId()}" />
					<td th:text="${request.getUser().getCsunID()}" />
					<td th:text="${request.getCourse().getDepartment().getPrefix()} + ' ' +${request.getCourse().getNumber()}" />
					<td th:text="${request.humanStatus()}" />
					<td th:text="${request.getPreferenceAsString()}" />
					<td>
						<a th:else th:href="|/requests/${request.getId()}|" th:text="View" />
					</td>
				</tr>
			</tbody>
		</table>
	</section>


</body>

</html>