<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{page_layout/layout}">

<head>
    <title>My Requests</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/request/my_requests.css}" rel="stylesheet" />

</head>

<body>
    <section layout:fragment="content">

        <h1>My Requests</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Request ID</th>
                    <th scope="col">For Course</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="request: ${requests}">
                    <td th:text="${request.getId()}" />
                    <td th:text="${request.getCourse().getNumber()}" />
                    <td th:text="${request.humanStatus()}" />
                    <td>
                        <details>
                            <summary>Details</summary>
                            <th:block th:each="requestFeedback: ${requestFeedbacks.get(request.id)}">
                                <p th:text=${requestFeedback.comment}>
                                    <p>
                            </th:block>
                        </details>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="col-lg-3">
            <a th:href="@{/courses}" class="btn fsp-button">New Request</a>
        </div>
    </section>


</body>

</html>