<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{page_layout/layout}">

<head>
	<title>Review</title>
	<meta charset='utf-8' content="Cory Sanoy" name="Author" />
	<link th:href="@{/css/request/create.css}" rel="stylesheet" />

</head>

<body>
	<section layout:fragment="content">

		<div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}" />
		<input th:value="*{request.times}" type="hidden" id="times">
		<input name="approvedTime" th:value="*{request.approvedTime}" type="hidden" id="approvedTime">
		<input name="status" th:value="*{request.status}" type="hidden" id="status">

		<div class="wrap">
			<div class="info">

				<h1>Course Info</h1>
				<div class="fsp-card">
					<div class="fsp-card-body">
						<h5 class="card-title" th:text="|Name: ${course.getName()}|"></h5>
						<h6 id="coursePrefix" class="card-subtitle mb-2 text-muted"
							th:text="|prefix: ${course.getPrefix()}|"></h6>
						<p class="card-text"></p>
					</div>
				</div>
				<br>
				<h1>User Info</h1>
				<div class="fsp-card">
					<div class="fsp-card-body">
						<h5 class="card-title" th:text="|Full Name: ${user.getName()}|"></h5>
						<h6 class="card-subtitle mb-2 text-muted" th:text="|CSUN ID: ${user.getCsun_id()}|"></h6>
						<a th:href="${resume}" class="card-link" target="_blank">resume</a>
					</div>
				</div>
				<br>
				<h1>Logs</h1>
				<div class="Scrolller">
					<div class="card" style="width: 635px;" th:each="request_feedback: ${request_feedbacks}">
						<div class="card-body">
							<h5 class="card-title" th:text="${request_feedback.getUser().getName()}"></h5>
							<h6 class="card-subtitle mb-2 text-muted"
								th:text="|Sent to : ${request_feedback.getHumanReciver()}|">
							</h6>
							<p class="card-text" th:text="${request_feedback.getComment()}"></p>
						</div>
					</div>
				</div>

				<br>
				<h1>Add comment</h1>
				<div class="fsp-card">
					<form th:action="@{/requests/__${request.getId()}__}" th:object="${request_feedback}" method="post">
						<div class="form-group">
							<label for="comment">Feedback</label>
							<textarea class="form-control" id="comment" name="comment" th:field="*{comment}" />
							</div>
				<div class="form-group">
					<label for="reciver">Send to</label>
					<select th:field="*{reciver}" name="reciver" class="form-control" id="reciver">
						<option th:each="i : ${reciverTypes}" th:value="${i.key}" th:text="${i.value}">
						</option>
					</select>
				</div>
				<br>
					<input class="btn btn-primary" type="submit" name="submit"/>
				</form>
			</div>
		</div>
		<div>
			<div id='calendar'></div>
			<br>
			<form th:if="${request.getStatus()!=4 && request.getStatus()!=3}" th:action="@{/requests/__${request.getId()}__/denied}" method="post">
				<button class="btn btn-danger">Denied</button>
			</form>
			<br>
			<form th:if="${request.getStatus()!=4 && request.getStatus()!=3}" th:action="@{/requests/__${request.getId()}__/approved-time}" method="post">
				<input name= "potentialApprovedTime" type="hidden" id="potentialApprovedTime">
				<input name= "userAvailability" type="hidden" id="userAvailability">

				<button class="btn btn-primary">Approve</button>
			</form>
		</div>

	</div>
	<div class="modal fade" id="createEventModal" tabindex="-1" aria-labelledby="createEventModalLabel"
		aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="createEventModalLabel">Approve final time</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p>Are you sure you want to approve this time?</p>
				</div>
				<div class="modal-footer">
					<button id= "removeTimeButton" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button id= "approvedTimeButton" type="button" class="btn btn-primary"  data-bs-dismiss="modal">Add</button>
				</div>
			</div>
		</div>
	</div>
	<script>
		let v;
		$(document).ready(function () {
			let selectDate;
			let approvedTime = [];
			let userAvailability = [];
			const color = {
                'Most Willing': "#11B211",
                'Willing': "#CFE722",
                'Not Available': "#A42727",
            }
			let calendarEL = $('#calendar');
			let coursePrefix = $('#coursePrefix').text().split(" ")[1];
			let removeTime = $("#removeTimeButton");
			let addTime = $("#approvedTimeButton");
			let potentialApprovedTime = $('#potentialApprovedTime');
			let currentDate = "2012-05-25";
			calendarEL.fullCalendar({
				hiddenDays: [0],
				defaultView: 'agendaWeek',
				slotDuration: '00:15',
				allDaySlot: false,
				slotLabelInterval: "00:15",
				longPressDelay: 0,
				views: {
					agendaWeek: {
						columnFormat: "dddd"
					}
				},
				nowIndicator: "true",
				minTime: '06:00',
				maxTime: '22:45',
				header: {
					left: '',
					center: '',
					right: ''
				},
				events: function (_, _, _, callback) {
					if($("#status").val() == 4 || $("#status").val() == 3 )
						callback(JSON.parse($("#approvedTime").val()));
					else
						callback(JSON.parse($("#times").val()));
				},
				eventClick: function (event) {
					if(!($("#status").val() == 4 || $("#status").val() == 3)){
						selectDate = event;
						if (event.color == "blue")
							addTime.prop("disabled",true);
						else
							addTime.prop("disabled",false);
						$("#createEventModal").modal("show");
					}
				},
			});
			function convertToJson(value, _, _) {
				if (value.color == "blue"){
					approvedTime.push({
						title: coursePrefix,
						start: value.start.toISOString(),
						end: value.end.toISOString(),
						day: value.start.format("dddd"),
						startTime: value.start.format("hh:mm"),
						endTime: value.end.format("hh:mm")
					})
					userAvailability.push({
						title: coursePrefix,
						color: value.color,
						start: value.start.toISOString(),
						end: value.end.toISOString(),
						day: value.start.format("dddd")
					})
				}else{
					userAvailability.push({
						title: value.title,
						color: value.color,
						start: value.start.toISOString(),
						end: value.end.toISOString(),
						day: value.start.format("dddd")
					})
				}
				
				

            };
			function addTimeFunc() {
				approvedTime = [];
				userAvailability  = [];
				selectDate.color = "blue"
				calendarEL.fullCalendar("rerenderEvents");
				calendarEL.fullCalendar("clientEvents").forEach(convertToJson);
				$('#potentialApprovedTime').val(JSON.stringify(approvedTime));
				$('#userAvailability').val(JSON.stringify(userAvailability));


            }

			function removeTimeFunc() {
				approvedTime = [];
				userAvailability  = [];
				selectDate.color = color[selectDate.title];
				calendarEL.fullCalendar("rerenderEvents");
				calendarEL.fullCalendar("clientEvents").forEach(convertToJson);
				$('#potentialApprovedTime').val(JSON.stringify(approvedTime));
				$('#userAvailability').val(JSON.stringify(userAvailability));

            }

			addTime.click(addTimeFunc);
			removeTime.click(removeTimeFunc);
			calendarEL.fullCalendar('gotoDate', currentDate);
			$('#my-draggable').draggable({
				zIndex: 999,
				revert: true, // will cause the event to go back to its
			});
			
		});
	</script>
</section>
</body>




</html>