
.error-box {
    text-align: center;
    height: 35%;
    width: 40%;
    margin: auto auto;
}
.error-box h1 {
    margin-top: 64px;
}
.error-box img {
    height: 256px;
    width: 256px;
}
.error-box p {
    font-size: 18px;
}