* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

/* .header {
  background-color: rgb(210, 32, 48);
  height: 80px;
  top: 20px;
} */

.red {
  background-color: rgb(210, 32, 48);
  height: 20px;
}

.header img {
  height: auto;
  width: 10%;
  bottom: -50px;
}

.thread {
  height: auto;
  width: 100%;
  position: absolute;
  top: -50px;
  left: calc(7% - 30px);
}

.inputBox {
  width: 320px;
  height: 420px;
  background-image: linear-gradient(rgb(210, 32, 48), rgb(230, 75, 54));
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  align-content: center;
  border-radius: 5%;
  padding: 70px 30px;
  opacity: 90%;
}

.inputBox h1 {
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 0;
  color: white;
}

.inputBox a {
  color: white;
  line-height: 20px;
  font-size: 12px;
  text-decoration: none;
  margin-top: 5px;
}
.inputBox a:hover {
  cursor: pointer;
  color: grey;
}

.inputBox label {
  color: white;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 1.3rem;
}

.inputBox input {
  width: 100%;
  margin-bottom: 20px;
  color: white;
}

.inputBox input[type="password"],
input[type="text"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  font-size: 15px;
  color: white;
}
::placeholder {
  color: white;
  opacity: 1;
}

.inputBox input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  font-size: 18px;
  color: black;
  border-radius: 40px;
  margin-top: 10px;
}
.inputBox input[type="submit"]:hover {
  cursor: pointer;
  background: gray;
  color: white;
}
