<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headerfiles">
    <meta charset="UTF-8" />
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<div th:fragment="navbar">
    <nav class="fsp-navbar">
        <div class="fsp-navbar-csunlogo">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/8/8c/CSUNS.svg/50px-CSUNS.svg.png" alt="">
            <h4>CSUN</h4>
        </div>
        <ul class="fsp-navbar-links">
            <li><a class="fsp-navbar-link" href="">Option One</a></li>
            <li><a class="fsp-navbar-link" href="">Option Two</a></li>
            <li><a class="fsp-navbar-link" href="">Option Three</a></li>
            <li><a class="fsp-navbar-link" href="">Option Four</a></li>
            <li><a class="fsp-navbar-link" href="">Option Five</a></li>
            <li><a class="fsp-navbar-link" href="">Option Six</a></li>
            <li><a class="fsp-navbar-link" href="">Option Seven</a></li>
            <li><a class="fsp-navbar-link" href="">Option Eight</a></li>
        </ul>
        <div class="fsp-page-name">
            <h3 id="fsp-1">Page Name Here</h3> <!-- Only change this -->
        </div>
    </nav>
</div>
</body>

</html>