<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{page_layout/layout}">

<head>
	<title>Edit Courses</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
	<section layout:fragment="content">


		<div class="container justify-content-center">
			<h1 class="text-center" style="color:#aa2d2d;"> Edit Course Details </h1>
			<div class="card-body">
				<form th:action="@{/courses/__${course.getId()}__/edit}" th:object="${course}" method="POST"
					class="fsp-form">

					<div class="form-group">
						<label>Select Department: </label>
						<select class="form-control" id="departments" name="department_id">
							<option th:each="department : ${departments}"
								th:value="|${department.id}:${department.prefix}|" th:text="${department.name}"
								th:selected="${department.prefix}==${course.department.prefix}">
							</option>
						</select>
					</div>

					<div class="form-group">
						<label> Course Name: </label>
						<input type="text" name="name" th:field="*{name}" class="form-control"
							placeholder="Enter Course Name" />
					</div>

					<div class="form-group">
						<label> Course Number: </label>
						<input type="text" name="number" th:field="*{number}" class="form-control"
							placeholder="Enter Course Number" />
					</div>

					<div class="form-group">
						<label> Course Units: </label>
						<input type="text" name="unit" th:field="*{unit}" class="form-control"
							placeholder="Enter Course Units " />
					</div>

					<div class="form-group">
						<label> Course k-factor: </label>
						<input type="text" name="k_factor" th:field="*{k_factor}" class="form-control"
							placeholder="Enter Course k-factor " />
					</div>

					<div class="form-group">
						<label>Select Enrollment based option: </label>
						<select name="enrollmentBased" id="enrollmentBased" th:field="*{enrollmentBased}">
							<option value="1">True</option>
							<option value="0" th:selected="${course.getEnrollmentBased()}==false">False</option>
						</select>
					</div>


					<div class="form-group">
						<label>Select Term: </label>
						<select class="form-control" id="terms" name="term_id">
							<option th:each="term : ${terms}" th:value="${term.id}" th:text="${term.name}"
								th:selected="${term}==${course.getTerm()}">
							</option>
						</select>
					</div>

					<div class="form-group">
						<label>Description</label>
						<textarea type="text" name="description" th:field="*{description}"></textarea>
					</div>

					<div class="box-footer">
						<button type="submit" class="fsp-button">
							Update Course
						</button>
					</div>
				</form>
			</div>
		</div>
	</section>

</body>

</html>