<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{page_layout/layout}">

<head>
	<title>Edit Courses</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
	<section layout:fragment="content">


		<div class="container justify-content-center">
			<h1 class="text-center" style="color:#aa2d2d;"> Edit Course Details </h1>
			<div class="card-body">
				<form th:action="@{/courses/create}" th:object="${course}" method="POST" class="fsp-form">

					<div class="form-group">
						<label>Select Department: </label>
						<select class="form-control" id="departments" name="department_id">
							<option th:each="department : ${departments}"
								th:value="|${department.id}:${department.prefix}|" th:text="${department.name}"
								th:selected="${department.prefix}==${course.department.prefix}">
							</option>
						</select>
					</div>

					<div class="form-group">
						<label> Course Name: </label>
						<input type="text" name="name" th:field="*{name}" class="form-control"
							placeholder="Enter Course Name" />
					</div>

					<div class="form-group">
						<label> Course Prefix: </label>
						<input type="text" name="prefix" th:field="*{prefix}" class="form-control"
							placeholder="Enter Course Prefix" />
					</div>

					<div class="form-group">
						<label> Course Units: </label>
						<input type="text" name="unit" th:field="*{unit}" class="form-control"
							placeholder="Enter Course Units " />
					</div>


					<div class="form-group">
						<label>Select Term: </label>
						<select class="form-control" id="terms" name="term_id">
							<option th:each="term : ${terms}" th:value="${term.id}" th:text="${term.name}">
							</option>
						</select>
					</div>


					<div class="form-group">
						<label>Description</label>
						<textarea type="text" name="description" th:field="*{description}"></textarea>
					</div>

					<div class="box-footer">
						<button type="submit" class="fsp-button">
							Update Course
						</button>
					</div>
				</form>
			</div>
		</div>
		<script>
			$(document).ready(function () {
				const prefix = $("#prefix");
				$("#departments").on('change', function () {
					prefix.val(this.value.split(":")[1]);
				})
			});
		</script>
	</section>

</body>

</html>