<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{page_layout/layout}">

<head>
  <title>Courses</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

  <section layout:fragment="content">
    <h1 class="title">List of Courses</h1>
    <div class="container">
      <div class="row">

        <div class="col-lg-9" th:switch="${search}">
          <form th:case="'true'" th:action="@{/courses/search}" method="POST">
            <div class="col-lg-9">
              <div class="form-group ">
                <select class="form-control" id="departments" name="departments">

                  <option th:each="department : ${departments}" th:value="${department.prefix}"
                    th:text="${department.name}">

                  </option>
                </select>
              </div>
            </div>
            <div class="col-lg-3">
              <button type="submit" class="btn">
                Search
              </button>
            </div>
          </form>
          <a th:case="'false'" th:href="@{/courses}" class="btn fsp-button btn-sm mb-3"> Get All Courses</a>
        </div>
      </div>
      <table class="fsp-table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Prefix</th>
            <th scope="col">Type</th>
            <th scope="col">Unit</th>
            <th scope="col">Department Name</th>
            <th scope="col" colspan="2">Action</th>
          </tr>
        </thead>

        <tbody>
          <tr th:each="course: ${courses}">
            <td th:text="${course.name}" />
            <td th:text="${course.prefix}" />
            <td th:text="${course.unit}" />
            <td th:text="${course.department.name}" />

            <td>
              <a sec:authorize="hasAnyRole('ADMIN', 'CONTROLLER','SUPERUSER')"
                th:href="@{courses/{course_id}/edit(course_id=${course.id})}">Edit
              </a>
            </td>
            <td>
              <form method="POST" th:action="@{courses/{course_id}/request/create(course_id=${course.id})}">
                <button type="submit" class="fsp-button">Request</button>
              </form>
            </td>
          </tr>
          <tr th:if="${courses} == null">
            No Records Found
          </tr>
        </tbody>

      </table>
      <div class="col-lg-3">
        <a sec:authorize="hasAnyRole('ADMIN', 'CONTROLLER','SUPERUSER')" th:href="@{/courses/new}"
          class="btn fsp-button"> Add Course</a>
      </div>
  </section>
</body>

</html>