<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{page_layout/layout}">

<head>
    <title>Courses</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="@{/css/course/index.css}" rel="stylesheet" />
    <link rel="stylesheet" href="jquery-ui.css">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<body>
    <section layout:fragment="content">
        <div class="container">
            <h1 class="title">List of Courses</h1>
            <div class="row">

                <div class="col-lg-9" th:switch="${search}">
                    <form th:case="'true'" th:action="@{/courses/search}" method="POST">
                        <div class="col-lg-9">
                            <div class="form-group ">
                                <select class="form-control" id="departments" name="departments">

                                    <option th:each="department : ${departments}" th:value="${department.prefix}"
                                        th:text="${department.name}">

                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <button id="submit_request" class="btn">
                                Search
                            </button>
                        </div>
                    </form>
                    <a th:case="'false'" th:href="@{/courses}" class="btn fsp-button btn-sm mb-3"> Get All Courses</a>
                </div>
            </div>

            <table class="fsp-table fsp-table-striped" id = "table-changes">
                <tbody class="connectedSortable" id="table1">
                    <!-- <thead> -->
                    <tr>
                        <th scope="col">Course Name</th>
                    </tr>
                    <!-- </thead> -->

                    <tr th:if="${courses} == null">
                        No Records Found
                    </tr>
                    <tr th:each="course: ${courses}" th:id="${course.id}" onmouseover="changeTextarea(this.id)">
                        <td th:text="${course.name}" />
                    </tr>
                </tbody>
            </table>

            <div class="container-2">
                <!-- extra div for dragging and dropping stuff -->
                <table class="fsp-table">
                    <tbody class="connectedSortable" id="table2">
                        <!-- <thead> -->
                        <tr>
                            <th scope="col">Course Request List</th>

                        </tr>
                        <!-- </thead> -->
                        <tr th:each="course: ${requestedCourses}" th:id="${course.id}"
                            onmouseover="changeTextarea(this.id)">
                            <td th:text="${course.name}" />
                        </tr>
                    </tbody>
                </table>
            </div>

            <button id="MyButton">Submit Request</button>

            <div style="height:300px; width:300px;"><textarea name="info" id='info'></textarea></div></br>
            <div>

                <script src="jquery.js"></script>
                <script src="jquery-ui.min.js"></script>
                <script>
                    function changeTextarea(id) {
                        var textarea = document.getElementById('info');
                        // display description instead of id?
                        textarea.value = id;
                    }
                    // $('tr').mouseout(function () {
                    //     $('#info').hide();
                    // });
                    $('tr').mouseover(function () {
                        $('#info').show();
                    });
                    $('#info').mouseover(function () {
                        $(this).show();
                    });
                    $(document).ready(function () {
                        var startTable = "table1";
                        var $tabs = $("#" + startTable);


                        $("tbody.connectedSortable")
                            .sortable({
                                connectWith: ".connectedSortable",
                                items: "> tr:not(:first)",
                                appendTo: $tabs,
                                helper: "clone",
                                cursor: "move",
                                zIndex: 999990,
                                start: function (event, ui) {
                                    //alert("start1");
                                    var start_pos = ui.item.index();
                                    ui.item.data('start_pos', start_pos);
                                }
                            });

                        var startTable2 = "table2";
                        var $tabs2 = $("#" + startTable2);
                        $("tbody.connectedSortable")
                            .sortable({
                                connectWith: ".connectedSortable",
                                items: "> tr:not(:first)",
                                appendTo: $tabs,
                                helper: "clone",
                                cursor: "move",
                                zIndex: 999990,
                                start: function (event, ui) {
                                    //alert("start2");
                                    var start_pos = ui.item.index();
                                    ui.item.data('start_pos', start_pos);
                                    //alert(start_pos);
                                },
                            });
                        $('#MyButton').click(function () {
                            var token = $('#_csrf').attr('content');
                            var header = $('#_csrf_header').attr('content');
                            var requestsArray = $('tbody#table2').sortable('toArray', { attribute: 'id' });
                            $.ajax({
                                type: 'POST',
                                url: '/course_requests',
                                data: {
                                    myArray: requestsArray,

                                },
                                beforeSend: function (xhr) {
                                    xhr.setRequestHeader(header, token);
                                },
                                success: function (data) {
                                    location.href = data + "?error=true";
                                }

                            })

                        });

                    });
                </script>

    </section>
</body>


</html>