<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{page_layout/layout}">

<head>
	<title>Manage Users</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<section layout:fragment="content">
		<h1 class="title">Users</h1>
		<table class="fsp-table fsp-table-striped">

			<thead>
				<tr>
					<th scope="col">User ID</th>
					<th scope="col">CSUN ID</th>
					<th scope="col">Full name</th>
					<th scope="col">Email</th>
					<th scope="col">Department(s)</th>
					<th scope="col">Action</th>

				</tr>
			</thead>
			<tbody>
				<tr th:each="user: ${users}">
					<td th:text="${user.key.getId()}" />
					<td th:text="${user.key.getCsun_id()}" />
					<td th:text="${user.key.getName()}" />
					<td th:text="${user.key.getEmail()}" />
					<td>
						<select>
							<option th:each="userDepartment : ${user.key.getDepartments()}">
								<span th:text="${userDepartment.name}">[name]</span>
							</option>
						</select>
					</td>
					<td>
						<details>
							<summary>Actions</summary>
							<br>
							<th:block>
								<br>
								<a th:href="@{/users/__${user.key.getId()}__/user_availability}">Availability</a>
								<br>
								<br>
								<!-- Check if the current user can edit user permissions -->
								<div th:if="${user.value == true}">
									<a th:href="@{/users/__${user.key.getId()}__/permissions}">Permissions</a>
									<br>
									<br>
								</div>
								<a th:href="@{/users/__${user.key.getId()}__/departments}">Departments</a>
								<br>
							</th:block>
						</details>
					</td>
				</tr>
			</tbody>
		</table>
	</section>
	<script>
		$(document).ready(function () {
			$('.dropdown-toggle').dropdown();
		});
	</script>
</body>

</html>