<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home page</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="@{/css/stylesheet.css}" rel="stylesheet" />
    <link th:href="@{/css/request/general.css}" rel="stylesheet" />
</head>

<body>
    <h1 class="title">Users</h1>
    <table class="fsp-table fsp-table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">CSUN ID</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>

            <tr th:each="user: ${users}">
                <td th:text="${user.id}" />
                <td th:text="${user.name}" />
                <td th:text="${user.csun_id}" />
                <td>
                    <a th:href="|/user/${user.getId()}/permissions|" th:text="|Edit Roles|" />
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>