<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link th:href="@{/css/user/loginstyle.css}" rel="stylesheet" />


    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">

    <script>
        $(document).ready(function checkPasswordsMatch(confirmPassword){
            if(confirmPassword.value != $("#password").val()){
                confirmPassword.setCustomValidity("Passwords do not match!");
            }else{
                confirmPassword.setCustomValidity("");
            }
        });
    </script>
</head>

<body>
    <div class="header">
        <a target="_blank" href="https://www.csun.edu/">
            <img th:src="@{/images/user/Seal-Logos/Seal-CSUN Horizontal 186.jpg}" alt="CSUN Logo">
        </a>
        <div class="red">
        </div>
    </div>
    <div class="container">
        <div class="background">
            <div class="inputBox">
                <a href="https://www.csun.edu/">
                    <img class="thread" th:src="@{/images/user/Seal-Logos/Seal-CSUN vertical Red updated.png}"
                        alt="CSUN Seal Logo">
                </a>
                <h1>
                    Reset Password
                </h1>
                <form id="forgotForm" name="f" th:action="@{/users/resetPassword/{path}(path=${token})}" method="post">
                    <input type="hidden" name = "token" th:value = "${token}">
                    <div id="errs" class="errorcontainer"></div>
                    <div th:if="${param.error}" class="alert alert-error">
                        Invalid username and password.
                    </div>
                    <div th:if="${message}" th:text="${message}" class="alert alert-error">
                        Activate account from email link
                    </div>
                    <!-- th:class="${'alert ' + alertClass}"  -->
                    <div th:if="${param.logout}" class="alert alert-success">
                        You have been logged out.
                    </div>
                    <label for="password">Password</label>
                    <input id="password" name="password" type="password" autocomplete="current-password"
                        placeholder="Enter Your Password" required/>

                    <label >Confirm Password</label>
                    <input  type="password" autocomplete="current-password"
                        placeholder="Confirm Your Password" required oninput="checkPasswordsMatch(this);"/>
                    <input type="submit" name="submit" placeholder="Reset">
                    <br>
                    <a th:href="@{/users/forgotPassword}"> Forgot Password?</a>
                    <br>
                    <a th:href="@{/users/signup}">New User? Create Account Here</a>
                </form>
            </div>
        </div>

    </div>
</body>

</html>
