<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Sign Up</title>
    <link th:href="@{/css/user/signup.css}" rel="stylesheet" />


    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
</head>

<body>
    <div class="header">
        <a target="_blank" href="https://www.csun.edu/">
            <img th:src="@{/images/user/Seal-Logos/Seal-CSUN Horizontal 186.jpg}" alt="CSUN Logo">
        </a>
        <div class="red">
        </div>
    </div>
    <div class="container">
        <div class="background">
            <div class="createBox">
                <a href="https://www.csun.edu/">
                    <img class="thread" th:src="@{/images/user/Seal-Logos/Seal-CSUN vertical Red updated.png}"
                        alt="CSUN Seal Logo">
                </a>
                <h2>
                    Sign Up
                </h2>
                <form id="signUpForm" name="form" th:action="@{signup}" method="POST">
                    <div id="errs" class="errorcontainer"></div>
                    <div th:if="${param.error}" id="alert alert-error" class="alert alert-error">
                        Invalid username and password.
                    </div>
                    <div th:if="${param.logout}" class="alert alert-success">
                        You have been logged out.
                    </div>
                    <label for="name">Full Name</label>
                    <input id="name" name="name" type="text" autocomplete="name" placeholder="Enter Your Full Name"
                        required />

                    <label for="email">Email</label>
                    <input id="email" name="email" type="email" autocomplete="email" placeholder="Enter your email"
                        required />

                    <label for="username">Username</label>
                    <input id="username" name="username" type="text" autocomplete="name"
                        placeholder="Enter Your Username" required />

                    <label>Department</label>

                    <select name="department">
                        <option th:each="i : ${departments}" th:value="${i.getId()}" th:text="${i.getName()}"></option>
                    </select>


                    <label for="csunID">CSUN ID</label>
                    <input id="csunID" name="csunID" type="text" placeholder="Enter Your CSUN ID" required />

                    <label for="password">Password</label>
                    <input id="password" name="password" type="password" autocomplete="current-password"
                        placeholder="Enter Your Password" required />
                    <label for="confirmPassword">Confirm Password</label>
                    <input id="confirmPassword" name="confirmPassword" type="password" autocomplete="current-password"
                        placeholder="Enter Your Password Again" />
                    <input type="submit" name="submit" placeholder="Login">
                    <br>
                    <a th:href="@{/users/login}"> Already have an account? Login</a>
                    <br>
                    <a th:href="@{/users/forgotPassword}">Forgot Password? Click here dummy</a>
                </form>
            </div>
        </div>

    </div>
</body>

</html>