<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{page_layout/layout}">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Upload Resume</title>
    <link th:href="@{/css/user/upload.css}" rel="stylesheet" />

</head>

<body>
    <section layout:fragment="content">


        <div class="upload-container">


            <div>
                <form method="POST" enctype="multipart/form-data" th:action="@{/users/upload_resume}">
                    <table>
                        <tr>
                            <td>File to upload:</td>
                            <td><input type="file" name="file" /></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input class="fsp-button" type="submit" value="Upload" /></td>
                        </tr>
                    </table>
                </form>
            </div>

            <div>
                <ul>
                    <li th:each="file : ${files}">
                        <a th:href="${file}" th:text="${file}" />
                    </li>
                </ul>
            </div>
        </div>
    </section>

</body>

</html>