<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{page_layout/layout}">

<head>
    <title>New Term</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/term/new.css}" rel="stylesheet" />
    <meta charset='utf-8' content="Cory Sanoy" name="Author" />

</head>

<body>
    <section layout:fragment="content">


        <div class="create_form">

            <form method="POST" th:action="@{/terms/create}" th:object="${term}">
                <label>Name:</label>
                <input type="text" th:field="*{name}" /><br />

                <label>Prefix:</label>
                <input type="text" th:field="*{prefix}" /><br />

                <label>Start Date:</label>
                <input type="date" th:field="*{startDate}" /><br />

                <label>End Date:</label>
                <input type="date" th:field="*{endDate}" /><br />

                <button type="submit">Register</button>
            </form>
    </section>

</body>



</html>