<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{page_layout/layout}">

<head>
    <title>My Availabilities</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <section layout:fragment="content">
        <h1 class="title" th:text="|${title} Availabilities|"></h1>
        <table class="fsp-table fsp-table-striped">

            <thead>
                <tr>
                    <th scope="col">Term</th>
                    <th scope="col">Min Unit</th>
                    <th scope="col">Max Unit</th>
                    <th scope="col">Release Time</th>
                    <th scope="col">Action</th>

                </tr>
            </thead>
            <tbody>
                <tr th:each="userAvailability: ${userAvailabilities}">
                    <td th:text="${userAvailability.getTerm().getPrefix()}" />
                    <td th:text="${userAvailability.getMinUnit()}" />
                    <td th:text="${userAvailability.getMaxUnit()}" />
                    <td th:text="${userAvailability.getReleaseTime()}" />
                    <td>
                        <a th:href="|/my_availabilities/${userAvailability.getId()}|" th:text="View" />
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="col-lg-3">
            <a th:href="@{/my_availability/new}" class="btn fsp-button"> Add Availability</a>
        </div>
    </section>


</body>

</html>