<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{page_layout/layout}">

</html>
<html>

<head>
    <title>User availability</title>
    <link th:href="@{/css/request/create.css}" rel="stylesheet" />
    <meta charset='utf-8' content="Cory Sanoy" name="Author" />

</head>

<body>
    <section layout:fragment="content">
        <input name="times" th:value="*{user_availability.times}" type="hidden" id="times">

        <div class="wrap">
            <div class="info">
                <h1>User Availability Info</h1>
                <div class="fsp-card">
                    <div class="fsp-card-body">
                        <h5 class="card-title" th:text="|User Name: ${user.name}|"></h5>
                        <h5 class="card-title" th:text="|CSUN ID: ${user.getCsunID()}|"></h5>
                    </div>
                </div>
                <div class="fsp-card">
                    <div class="fsp-card-body">
                        <h5 class="card-title" th:text="|Max Unit: ${user_availability.getMaxUnit()}|"></h5>
                    </div>
                </div>
                <div class="fsp-card">
                    <div class="fsp-card-body">
                        <h5 class="card-title" th:text="|Min Unit: ${user_availability.getMinUnit()}|"></h5>
                    </div>
                </div>
                <div class="fsp-card">
                    <div class="fsp-card-body">
                        <h5 class="card-title" th:text="|Release Time: ${user_availability.getReleaseTime()}|"></h5>
                    </div>
                </div>
                <div class="fsp-card">
                    <div class="fsp-card-body">
                        <h6 class="card-title">Description</h6>
                        <p class="card-title" th:text="${user_availability.getSourceDescription()}"></p>
                    </div>
                </div>
            </div>
            <div>
                <div id='calendar'></div>
            </div>
    </section>
</body>
<script>
    $(document).ready(function () {
        let showModel;
        let dates = [];
        let calendarEL = $('#calendar');
        let currentDate = "2012-05-25";
        let start_ = "";
        let end_ = "";
        calendarEL.fullCalendar({
            hiddenDays: [0],
            defaultView: 'agendaWeek',
            slotDuration: '00:15',
            eventColor: '#043458',
            allDaySlot: false,
            slotLabelInterval: "00:15",
            longPressDelay: 0,
            views: {
                agendaWeek: {
                    columnFormat: "dddd"
                }
            },
            nowIndicator: "true",
            minTime: '08:30',
            maxTime: '21:45',
            header: {
                left: '',
                center: '',
                right: ''
            },
            events: function (_, _, _, callback) {
                callback(JSON.parse($("#times").val()));
            },

        });
        $('#calendar').fullCalendar('gotoDate', currentDate);

        $('#my-draggable').draggable({
            zIndex: 999,
            revert: true, // will cause the event to go back to its
        });

        function addevent(start, end) {
            calendarEL.fullCalendar('renderEvent', {
                start: start,
                end: end,
            }, true);
            let oldValue = $("#times").val();
            let arr = $("#times").val() === "" ? [] : oldValue.split(',');
            arr.push(JSON.stringify({
                start: start,
                end: end
            }));
            $('#times').val(arr);
        };
    });
</script>

</html>