<!DOCTYPE html>
<html>
<head>
    ...
</head>
<body>

<div th:fragment="footer">
    &copy; CSUN 2022
</div>

<div th:fragment="footer-admin">

    <footer class="footer-distributed">

        <div class="footer-left">
            <img src="http://localhost:8181/images/icon.jpg">
            <h3>COMP-<span>490 </span></h3>


            <p class="footer-company-name">© 2022 CSUN.</p>
        </div>

        <div class="footer-center">
            <div>
                <h6>
                    California State University</h6>
                <span>  Northridge 18111 Nordhoff Street<br>
          Northridge, CA 91330.<BR>
          Phone: (818) 677-1200

        </span>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <span>FACULTY CLASS PREFFERENCE</span>
                Miguel Rivera, Miguel Rivera, Miguel Rivera
            </p>
        </div>
    </footer>

</div>
</body>
</html>